################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/PACTheGame/v16/.suo
/.vs/PACTheGame/config/applicationhost.config
