.section {
    padding: 2em 0;
}

.section:nth-of-type(odd) {
    background-color: #EEE;
}

.section.active-neighbour {
    background-color: #3E3;
}

.node,
.bidder {
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.median,
.median input {
    background-color: rgba(255,255,0,0.5);
}

.bidder input {
    width: 60px;
    border: solid 4px #F00;
}

.boards {
    width: 350px;
    border: 1px solid red;
    display: inline-block;
}

.leaderboard {
    width: 160px;
    float: left;
    border: 1px solid black;
    display: inline-block;
}

.leaderboard-totals {
    width: 160px;
    float: right;
    border: 1px solid black;
    display: inline-block;
}

.leaderboard .my-bid {
    background-color: rgba(255,0,255,0.3);
}

.leaderboard-totals .my-bid {
    background-color: rgba(255,0,255,0.3);
}

.hidden {
    display: none;
}

.highlight {
    font-weight: bold;
}
