.section {
    padding: 2em 0;
}

.section:nth-of-type(odd) {
    background-color: #EEE;
}

.section.active-neighbour {
    background-color: #3E3;
}

.node,
.bidder,
.stats>div {
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.bidder input {
    width: 60px;
    border: solid 4px #F00;
}

.leaderboard {
    border-collapse: collapse;
}

.leaderboard td {
    text-align: center;
}

.leaderboard th,
.leaderboard td {
    padding: 10px 15px;
}

.leaderboard tr:nth-of-type(even) {
    background-color: #EEE;
}

.leaderboard tr.my-bid {
    background-color: rgba(255,0,255,0.3);
}

.hidden {
    display: none;
}

.highlight {
    font-weight: bold;
}

#settings-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

#settings {
    margin: 10px;
}

#settings-show,
#settings-hide {
    position: absolute;
    top: 5px;
    right: 5px;
}
